body {
    background: white; /* try type yellow */
    color: #323232;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

button {
    color: white;
    margin-top: 5%;
    line-height: 60px;
    font-weight: bold;
    padding: 0 40px;
    background: red;
    border: none;
    border-radius: 25px;
}

button:hover {
    background: green;
}

p {
    width: 100px;
    height: 100px;
    background-color: azure; 
} 